:root{
    --primary-color: #E4002B;
    --black-color: #000;
    --white-color: #fff;
    --text-color: #707070;
    --header-height: 164px;
    --topbar-height: 108px;

}

*{
    box-sizing: inherit;
}

html{
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Asap', sans-serif;
    box-sizing: border-box;
}
