.web{
    overflow: hidden;
    background: url(/assets/images/web-bg.jpg);
    background-size: cover;
}

/*  Header */
header{
    height: var(--header-height);
}

.grid.wide.menu{
    background-color: var(--white-color);
}
.topbar_menu{
    width: 100%;
    padding: 18px 20px;
    height: var(--topbar-height);
}

.topbar_menu-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 0;
    padding: 6px 15px;
    list-style: none;
}

.topbar_menu-item-link{
    text-decoration: none;
    cursor: pointer;
}

.topbar_menu-right-list{
    display: flex;
    width: 208px;
    padding-left: 0;
    list-style: none;
    font-weight: 500;
}

.topbar_menu-language{
    position: relative;
    cursor: pointer;
}

.topbar_menu-language-separate::after{
    content: "";
    display: block;
    position: absolute;
    height: 12px;
    border-right: 2px solid var(--black-color);
    right: -10px;
    top: 48%;
    transform: translateY(-50%);
}

.topbar_menu-language-vn{
    font-size: 1.6rem;
    font-weight: 800;
    color: var(--primary-color);
    padding: 10px 15px;
}

.topbar_menu-language-list{
    padding-left: 0;
    list-style: none;
    width: 180px;
    position: absolute;
    margin-top: 14px;
    display: none;
}

.topbar_menu-language-item{
    border: 1px solid #ccc;
    width: 100%;
    padding: 6px 15px;
}

.topbar_menu-language-item.vn{
    background-color: var(--primary-color);
}

.topbar_menu-language-item-link.active{
    color: var(--white-color);
}

.topbar_menu-language-item-link{
    text-decoration: none;
    display: block;
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--black-color);
}

.topbar_menu-login{
    font-size: 1.6rem;
    font-weight: 800;
    color: var(--black-color);
    margin-left: 30px;
    cursor: pointer;
}

.navbar_menu{
    width: 100%;
    height: calc(var(--header-height) - var(--topbar-height));
    display: flex;
    justify-content: space-between;
    background-color: #f8f8f8;
}

.navbar_menu-list{
    display: flex;
    align-items: center;
    list-style: none;
    padding-left: 0;
    margin-left: 5px;
}

.navbar_menu-item-link, .navbar_menu-cart-text{
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 800;
    color: var(--black-color);
    display: block;
    padding: 17px;
    margin-right: 1px;
}

.navbar_menu-item-link:hover{
    background-color: var(--black-color);
    color: var(--white-color);
}

.navbar_menu-item-link.active{
    background-color: var(--black-color);
    color: var(--white-color);
}

.navbar_menu-cart{
    position: relative;
}

.navbar_menu-cart-icon{
   background: url(/assets/images/cart_icon.png) no-repeat;
   position: absolute;
    width: 100%;
    right: 28px;
    top: 12px;
    height: 100%;
}

.navbar_menu-cart-quantity{
    font-size: 1.4rem;
    font-weight: 800;
    display: block;
    text-decoration: none;
    cursor: pointer;
    margin: 5px 12px;
}

.navbar_menu-cart-text{
    color: var(--primary-color);
    text-decoration: none;
    cursor: pointer;
}

.empty_cart-content{
    background-color: var(--white-color);
}

.empty_cart-heading{
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1.6rem;
    color: var(--primary-color);
    border-bottom: 1px solid var(--black-color);
    width: 100%;
    padding: 15px 0;
    margin: 30px 20px;
}

.empty_cart-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.empty_cart-img{
    max-width: 100%;
}

.empty_cart-description{
    text-align: center;
    font-size: 1.6rem;
    color: var(--text-color);
    line-height: 1.4rem;
    margin-top: 20px;
}

.empty_cart-btn{
    width: 360px;
    text-align: center;
    background: var(--primary-color);
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.empty_cart-btn-link{
    text-decoration: none;
    display: block;
    color: var(--white-color);
    font-size: 1.4rem;
    font-weight: 800;
    padding: 8px 0;
}
